<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Model2JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>test.TestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet1</url-pattern>
  </servlet-mapping>
  
  
  <!--  Model2 주소 매핑  -->
  <!-- 한가지 명사형태(동작)로 구분 -->
  <!-- 
    servlet : 서블릿 객체의 정보를 저장하는 태그
    servlet-name : 해당서블릿의 이름
    servlet-class : 해당서블릿의 위치(패키명+클래스명)
    
    servlet-mapping : 서블릿과 URL을 매핑(연결) 태그
    servlet-name : 해당서블릿의 이름
    url-pattern : 해당 주소URL 접근
    http://loacalhost:8080/프로젝트명/주소URL
   -->
  
  
  
  <!-- 회원관리 -->
  <servlet>
     <servlet-name>MemberFrontController</servlet-name>
     <servlet-class>net.member.action.MemberFrontController</servlet-class>
  </servlet> 
  
  <servlet-mapping>
     <servlet-name>MemberFrontController</servlet-name>
     <url-pattern>*.me</url-pattern>
  </servlet-mapping>  
  <!-- 회원관리 -->
  
  
  <!-- 게시판 관리 -->
  <servlet>
    <servlet-name>BoardFrontController</servlet-name>
    <servlet-class>net.board.action.BoardFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>BoardFrontController</servlet-name>
     <url-pattern>*.bo</url-pattern>
  </servlet-mapping>  
  <!-- 게시판 관리 -->
  
  <!-- 관리자 상품 등록 -->
  <servlet>
    <servlet-name>AdminGoodsFrontController</servlet-name>
    <servlet-class>net.admin.goods.action.AdminGoodsFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>AdminGoodsFrontController</servlet-name>
     <url-pattern>*.ag</url-pattern>
  </servlet-mapping>  
  <!-- 관리자 상품 등록 -->
  
  
  
  
  
  
</web-app>